body {
    background: cadetblue;
}

h1{
	text-align: center;
}

#errorMsg{
	color: red; 
	background: yellow;
	font-weight: bold;
	border: 2px solid blue;
}

#page{
	padding: 1rem;
	text-align: center;
	border: 2.5px solid firebrick;
}

.form row{
	display: flex;
  	flex-direction: column;
}

.form item{
	display: flex;
  	flex-direction: row;
  	justify-content: center;
}

.form space{
	margin-left: auto;
    margin-right: auto;
    width: 10em
}

.form space2{
	margin-left: auto;
    margin-right: auto;
    width: 11em
}